@model IEnumerable<AspNetCoreCourse.ViewModels.OrderModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Список заказов</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderSum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderSum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderIndex">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderIndex">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderIndex">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
